:root {
  /* Primary Color */
  --pink: var(hsl(322, 100%, 66%));

  /* Neutral */
  --Very_Pale_Cyan: var(hsl(193, 100%, 96%));
  --Very_Dark_Cyan: var(hsl(192, 100%, 9%));
  --Grayish_Blue: var(hsl(208, 11%, 55%));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: (400, 700);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  height: auto;
}
.jumbo {
  width: 100%;
  height: 100%;
  background-color: var(--Very_Pale_Cyan);
  background-image: url(./imgs/bg-hero-desktop.svg);
}

header {
  display: flex;
  padding: 20px;
}

.logo > img {
  width: 180px;
}

.intro {
  display: flex;
}

.textintro {
  width: 50%;
}

.jumboimg {
  width: 50%;
}
